<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kytc.database.dao.mapper.DynamicMapper">
	<select id="selectSql" resultType="java.util.LinkedHashMap">
		${sql}
	</select>

	<insert id="insertSql">
		${sql}
	</insert>

	<update id="updateSql">
		${sql}
	</update>

	<delete id="deleteSql">
		${sql}
	</delete>
</mapper>